.container {
  margin: 16px;
}
.transactionHistory {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: 2px 1px 3px 2px rgba(0, 0, 255, 0.3);
  border: 1px solid #cbdcda;
}

.thead {
  height: 48px;
  color: #fff;
  background-color: #6ef3e5;
  border: 1px solid #cbdcda;
}
.th,
.td {
  padding: 10px;
  border: 1px solid #cbdcda;
}

tr:nth-child(even) {
  background-color: #dbedeb;
}
